*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background: url(../img/jumbo.png);
    height: 600px;
    background-size: cover;
    padding-top: 20px;
}

.container{
    max-width: 1200px;
    height: 150px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.topbar.clearfix{
    width: 100%;
    height: 34px;
    /* border:  2px solid violet; */
}

.fl{
    float: left;
}

.logo{
    width: 25%;
    height: 100%;
    /* border: 2px solid rgb(30, 255, 0); */
}

.login{
    width: 25%;
    height: 100%;
    /* border: 2px solid rgb(30, 255, 0); */
}

.menu{
    width: 50%;
    height: 100%;
    /* border: 2p solid rgb(30, 255, 0); */
}

.topbar.clearfix li{
    display: inline-block;
    line-height: 34px;
}

.menu.fl{
    text-align: center;   
}

.menu.fl li{
    margin-left: 20px;
}

.login.fl{
    text-align: right;
}


.title-description.box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    width: 600px;
    height: 300px;
    border: 2px solid black;
}

