*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background: url(../img/jumbo.png);
    height: 600px;
    background-size: cover;
    padding-top: 20px;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.topbar.clearfix{
    width: 100%;
    height: 34px;
    /* border:  2px solid violet; */
}

.fl{
    float: left;
}

.logo{
    width: 25%;
    height: 100%;
    /* border: 2px solid rgb(30, 255, 0); */
}

.login{
    width: 25%;
    height: 100%;
    /* border: 2px solid rgb(30, 255, 0); */
}

.menu{
    width: 50%;
    height: 100%;
    /* border: 2p solid rgb(30, 255, 0); */
}

.topbar.clearfix li{
    display: inline-block;
    line-height: 34px;
}

.menu.fl{
    text-align: center;   
}

.menu.fl li{
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
}

.login.fl{
    text-align: right;
}

.button-enter{
    background: white;
}



.login.fl .button-enter{
    border-radius: 40px;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 16px;
    color: #23272a;;
}


.title-description.box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    height: 300px;
}

.title-description.box span{
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.title-description.box .descript-p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 32px;
}


.title-description.box .buttons{
    margin-top: 20px;
}

.button-type{
    margin-left: 20px;
    border-radius: 25px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
}

.download{
    color: #23272a;
    background:white
}

.browser{
    background-color: #23272a;;
}

/* --------FINE HEADER */
/* --------------------------------------- */

.container.box-1{
    height: 800px;
}

.piccolo-box{
    padding-top: 150px;
}

.fl-2{
    float: left;
}

.paragraph.fl-2{
    width: 522px;
    padding-top: 40px;
    padding-left: 100px;
}

.paragraph.fl-2 span{
    font-size: 48px;
    font-weight: bold;
}

.paragraph.fl-2 div{
    padding-top: 20px;
    font-size: 20px;
    line-height: 38px;
}


.paragraph.final{
    text-align: center;
    margin-bottom: 50px;
}


.paragraph.final span{
    font-size: 48px;
    font-weight: bold;
}

.paragraph.final .explain{
    font-size: 20px;
    line-height: 38px;
    padding: 20px 30px;
}

.animation-2 img{
    width: 1100px;
}


.adventure{
    text-align: center;
}

.row-stars{
    height: 50px;
    margin: 200px 0 30px 0;
    background: url(../img/stars.svg);
    background-size:contain;
}

.row-stars>p{
    font-size: 30px;
    font-weight: bold;
}

.download-2{
    background-color: #7289da;
    margin-right: 20px;
}




